EPEverDashboardv0.1.json
[{"id":"582341c6.256d8","type":"tab","label":"EPEver Stats","disabled":false,"info":""},{"id":"5597ff8c.95c83","type":"tab","label":"EPEver Settings","disabled":false,"info":""},{"id":"ff5d39e7.fcffd8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"EPEver Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"54f9c25a.0d99fc","type":"ui_tab","z":"","name":"EPEver Dashboard","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"3a2d2f23.d8d58","type":"modbus-client","z":"","name":"TracerA12","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":true,"tcpHost":"192.168.4.25","tcpPort":"23","tcpType":"TELNET","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"","commandDelay":"100","clientTimeout":"2000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":false},{"id":"1cf1f0e5.2d63ff","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"tracera12","name":"tracera12","usetls":false,"tls":""},{"id":"c1688965.25fc78","type":"ui_tab","z":"","name":"EPEver Dashboard","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"dfa450e2.6d547","type":"ui_group","z":"","name":"Settings","tab":"c1688965.25fc78","order":4,"disp":true,"width":6,"collapse":true},{"id":"eed667e0.468bf8","type":"ui_group","z":"","name":"Solar","tab":"c1688965.25fc78","order":1,"disp":true,"width":"6","collapse":false},{"id":"3d2f4e19.7d93e2","type":"ui_group","z":"","name":"Battery","tab":"c1688965.25fc78","order":2,"disp":true,"width":"6","collapse":false},{"id":"cf0fbbf.0686648","type":"ui_group","z":"","name":"Load","tab":"c1688965.25fc78","order":3,"disp":true,"width":"6","collapse":false},{"id":"a721d588.010f48","type":"modbus-client","z":"","name":"USB0","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU","serialBaudrate":"57600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"bd455f62.268a6","type":"split","z":"582341c6.256d8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":210,"y":280,"wires":[["331743b8.5816ec"]]},{"id":"331743b8.5816ec","type":"switch","z":"582341c6.256d8","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"11","vt":"str"},{"t":"eq","v":"12","vt":"str"},{"t":"eq","v":"13","vt":"str"},{"t":"eq","v":"14","vt":"str"},{"t":"eq","v":"15","vt":"str"},{"t":"eq","v":"16","vt":"str"},{"t":"eq","v":"17","vt":"str"}],"checkall":"false","repair":false,"outputs":18,"x":330,"y":280,"wires":[["4109bf9f.76bf1"],["683e0c34.d953f4"],["c0f2878a.dab428"],["c0f2878a.dab428"],["ad1a4108.aeb2"],["2ef3a9d8.8018f6"],["6a1c43a9.cb6a9c"],["6a1c43a9.cb6a9c"],["a580b44d.2cba18"],["23105751.a30e58"],["eef6da88.41a0a8"],["eef6da88.41a0a8"],[],[],[],[],["5643efa2.505c"],["5cd22c53.a68a04"]]},{"id":"4109bf9f.76bf1","type":"change","z":"582341c6.256d8","name":"Vsolar","rules":[{"t":"set","p":"topic","pt":"msg","to":"Vsolar","tot":"str"},{"t":"set","p":"Vsolar","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":40,"wires":[["c6d14998.ba4d18"]]},{"id":"683e0c34.d953f4","type":"change","z":"582341c6.256d8","name":"Isolar","rules":[{"t":"set","p":"topic","pt":"msg","to":"Isolar","tot":"str"},{"t":"set","p":"Isolar","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":80,"wires":[["3db428c9.e6f3a8"]]},{"id":"ad1a4108.aeb2","type":"change","z":"582341c6.256d8","name":"Vbatt","rules":[{"t":"set","p":"topic","pt":"msg","to":"Vbatt","tot":"str"},{"t":"set","p":"Vbatt","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":240,"wires":[["9ff71e0c.4876c"]]},{"id":"2ef3a9d8.8018f6","type":"change","z":"582341c6.256d8","name":"Ibatt","rules":[{"t":"set","p":"topic","pt":"msg","to":"Ibatt","tot":"str"},{"t":"set","p":"Ibatt","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":280,"wires":[["d5fd3cef.a6b8c"]]},{"id":"a580b44d.2cba18","type":"change","z":"582341c6.256d8","name":"Vload","rules":[{"t":"set","p":"topic","pt":"msg","to":"Vload","tot":"str"},{"t":"set","p":"Vload","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"measurement","pt":"msg","to":"V","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":420,"wires":[["b96c02a2.91592"]]},{"id":"23105751.a30e58","type":"change","z":"582341c6.256d8","name":"Iload","rules":[{"t":"set","p":"topic","pt":"msg","to":"Iload","tot":"str"},{"t":"set","p":"Iload","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"measurement","pt":"msg","to":"I","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":460,"wires":[["e5347b13.65b1f8"]]},{"id":"5643efa2.505c","type":"change","z":"582341c6.256d8","name":"Tbatt","rules":[{"t":"set","p":"topic","pt":"msg","to":"Tbatt","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":600,"wires":[["653d6073.65324"]]},{"id":"5cd22c53.a68a04","type":"change","z":"582341c6.256d8","name":"Tcase","rules":[{"t":"set","p":"topic","pt":"msg","to":"Tcase","tot":"str"},{"t":"set","p":"measurement","pt":"msg","to":"°C","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":640,"wires":[["c25eac84.ed914"]]},{"id":"c6d14998.ba4d18","type":"range","z":"582341c6.256d8","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":650,"y":40,"wires":[["5b59dee0.37f37","4f2bf615.8fe208","b5e23228.2c405"]]},{"id":"9ff71e0c.4876c","type":"range","z":"582341c6.256d8","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":650,"y":240,"wires":[["5b59dee0.37f37","ba1674e1.6abf98","b5e23228.2c405"]]},{"id":"3db428c9.e6f3a8","type":"range","z":"582341c6.256d8","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":650,"y":80,"wires":[["5b59dee0.37f37","b51b7480.97fe78","abb65cbf.c35c4"]]},{"id":"d5fd3cef.a6b8c","type":"range","z":"582341c6.256d8","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":650,"y":280,"wires":[["5b59dee0.37f37","762cbcc3.6426d4","abb65cbf.c35c4"]]},{"id":"b96c02a2.91592","type":"range","z":"582341c6.256d8","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":650,"y":420,"wires":[["5b59dee0.37f37","b5e23228.2c405"]]},{"id":"e5347b13.65b1f8","type":"range","z":"582341c6.256d8","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":650,"y":460,"wires":[["5b59dee0.37f37","35d65ded.af0e52","abb65cbf.c35c4"]]},{"id":"653d6073.65324","type":"range","z":"582341c6.256d8","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":650,"y":600,"wires":[["5b59dee0.37f37","ff522779.527d18","16609792.7fcd08"]]},{"id":"c25eac84.ed914","type":"range","z":"582341c6.256d8","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":650,"y":640,"wires":[["5b59dee0.37f37","63c21b91.be6e24","16609792.7fcd08"]]},{"id":"24351707.88dbc8","type":"modbus-flex-getter","z":"5597ff8c.95c83","name":"Modbus Get","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"3a2d2f23.d8d58","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":130,"y":200,"wires":[["a3530081.e0a47"],["d6944087.571be"]]},{"id":"d0a6fa6d.c9bea8","type":"function","z":"5597ff8c.95c83","name":"FC3 0x9000 [15]","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 0x9000, \n    'quantity': 15\n}\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":140,"wires":[["24351707.88dbc8"]]},{"id":"d6944087.571be","type":"modbus-response","z":"5597ff8c.95c83","name":"0x9000 Response","registerShowMax":20,"x":350,"y":20,"wires":[]},{"id":"e33aaa9d.1e86c8","type":"switch","z":"5597ff8c.95c83","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"11","vt":"str"},{"t":"eq","v":"12","vt":"str"},{"t":"eq","v":"13","vt":"str"},{"t":"eq","v":"14","vt":"str"}],"checkall":"false","repair":false,"outputs":15,"x":310,"y":280,"wires":[["9693f8b2.0c13b8"],["3a2bacfe.c589a4"],["e8920282.7a44b"],["a8206b.0cf90f98"],["2bd5c7e1.b8e868"],["6dcceba8.e5a944"],["60e8ee8e.6921d"],["a773f17e.3c6db"],["57108a13.ba0db4"],["bd0adb0e.c19058"],["3c7f897b.1cba86"],["a92bab72.f1f928"],["cc48dfd8.cd4c4"],["2350defb.2b3642"],["84ea6393.f8ee6"]]},{"id":"a8206b.0cf90f98","type":"range","z":"5597ff8c.95c83","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":530,"y":260,"wires":[["78f4f5b6.a6141c"]]},{"id":"a3530081.e0a47","type":"split","z":"5597ff8c.95c83","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":190,"y":280,"wires":[["e33aaa9d.1e86c8"]]},{"id":"78f4f5b6.a6141c","type":"ui_numeric","z":"5597ff8c.95c83","name":"","label":"High Voltage Disconnect","tooltip":"","group":"dfa450e2.6d547","order":4,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} V","min":"9","max":"17","step":"0.1","x":710,"y":260,"wires":[["edf810d5.3e6e3"]]},{"id":"2bd5c7e1.b8e868","type":"range","z":"5597ff8c.95c83","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":530,"y":320,"wires":[["9230cb82.916fc8"]]},{"id":"9230cb82.916fc8","type":"ui_numeric","z":"5597ff8c.95c83","name":"","label":"Charging Limit","tooltip":"","group":"dfa450e2.6d547","order":5,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} V","min":"9","max":"17","step":"0.1","x":680,"y":320,"wires":[["71e0f73f.c74578"]]},{"id":"6dcceba8.e5a944","type":"range","z":"5597ff8c.95c83","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":530,"y":380,"wires":[["ee665a23.45a578"]]},{"id":"ee665a23.45a578","type":"ui_numeric","z":"5597ff8c.95c83","name":"","label":"Over Voltage Reconnect ","tooltip":"","group":"dfa450e2.6d547","order":6,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} V","min":"9","max":"17","step":"0.1","x":710,"y":380,"wires":[["5abbe98d.ebc4f8"]]},{"id":"dbd5dcb1.2283c","type":"ui_button","z":"5597ff8c.95c83","name":"","group":"dfa450e2.6d547","order":1,"width":0,"height":0,"passthru":true,"label":"Read Values","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":110,"y":500,"wires":[["d0a6fa6d.c9bea8","d1f7ad24.5e798"]]},{"id":"c257d1f0.06435","type":"ui_numeric","z":"5597ff8c.95c83","name":"","label":"Equalization","tooltip":"","group":"dfa450e2.6d547","order":7,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} V","min":"9","max":"17","step":"0.1","x":670,"y":440,"wires":[["c841041c.0e8bd8"]]},{"id":"a773f17e.3c6db","type":"range","z":"5597ff8c.95c83","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":530,"y":500,"wires":[["f9ebdb39.a5a648"]]},{"id":"f9ebdb39.a5a648","type":"ui_numeric","z":"5597ff8c.95c83","name":"","label":"Boost","tooltip":"","group":"dfa450e2.6d547","order":10,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} V","min":"9","max":"17","step":"0.1","x":650,"y":500,"wires":[["b8c76727.8010e8"]]},{"id":"57108a13.ba0db4","type":"range","z":"5597ff8c.95c83","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":530,"y":560,"wires":[["6d250188.4eea8"]]},{"id":"6d250188.4eea8","type":"ui_numeric","z":"5597ff8c.95c83","name":"","label":"Float","tooltip":"","group":"dfa450e2.6d547","order":11,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} V","min":"9","max":"17","step":"0.1","x":650,"y":560,"wires":[["2795518c.abc70e"]]},{"id":"bd0adb0e.c19058","type":"range","z":"5597ff8c.95c83","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":530,"y":620,"wires":[["3c598fd9.b0214"]]},{"id":"3c598fd9.b0214","type":"ui_numeric","z":"5597ff8c.95c83","name":"","label":"Boost Reconnect","tooltip":"","group":"dfa450e2.6d547","order":12,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} V","min":"9","max":"17","step":"0.1","x":690,"y":620,"wires":[["887b122e.ca5b3"]]},{"id":"3c7f897b.1cba86","type":"range","z":"5597ff8c.95c83","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":530,"y":680,"wires":[["2c19b859.536408"]]},{"id":"2c19b859.536408","type":"ui_numeric","z":"5597ff8c.95c83","name":"","label":"Low Voltage Reconnect","tooltip":"","group":"dfa450e2.6d547","order":13,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} V","min":"9","max":"17","step":"0.1","x":710,"y":680,"wires":[["2e2eaf04.53483"]]},{"id":"a92bab72.f1f928","type":"range","z":"5597ff8c.95c83","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":530,"y":740,"wires":[["892fae18.b2cf5"]]},{"id":"892fae18.b2cf5","type":"ui_numeric","z":"5597ff8c.95c83","name":"","label":"Under Voltage Recover","tooltip":"","group":"dfa450e2.6d547","order":14,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} V","min":"9","max":"17","step":"0.1","x":710,"y":740,"wires":[["ed61a896.7b2b88"]]},{"id":"cc48dfd8.cd4c4","type":"range","z":"5597ff8c.95c83","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":530,"y":800,"wires":[["923f6daf.1e3e6"]]},{"id":"923f6daf.1e3e6","type":"ui_numeric","z":"5597ff8c.95c83","name":"","label":"Under Voltage Warning","tooltip":"","group":"dfa450e2.6d547","order":15,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} V","min":"9","max":"17","step":"0.1","x":710,"y":800,"wires":[["9a13ecb3.1f018"]]},{"id":"2350defb.2b3642","type":"range","z":"5597ff8c.95c83","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":530,"y":860,"wires":[["6e0477bf.693428"]]},{"id":"6e0477bf.693428","type":"ui_numeric","z":"5597ff8c.95c83","name":"","label":"Low Voltage Disconnect","tooltip":"","group":"dfa450e2.6d547","order":16,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} V","min":"9","max":"17","step":"0.1","x":710,"y":860,"wires":[["1c0560d7.d2396f"]]},{"id":"84ea6393.f8ee6","type":"range","z":"5597ff8c.95c83","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":530,"y":920,"wires":[["38403d3.d1414c2"]]},{"id":"38403d3.d1414c2","type":"ui_numeric","z":"5597ff8c.95c83","name":"","label":"Discharge Limit","tooltip":"","group":"dfa450e2.6d547","order":17,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} V","min":"9","max":"17","step":"0.1","x":680,"y":920,"wires":[["d247aca8.d07fd"]]},{"id":"edf810d5.3e6e3","type":"range","z":"5597ff8c.95c83","minin":"0","maxin":"100","minout":"0","maxout":"10000","action":"scale","round":true,"property":"payload","name":"*100","x":890,"y":260,"wires":[["c8a49677.ccc3f8"]]},{"id":"71e0f73f.c74578","type":"range","z":"5597ff8c.95c83","minin":"0","maxin":"100","minout":"0","maxout":"10000","action":"scale","round":true,"property":"payload","name":"*100","x":890,"y":320,"wires":[["3143be23.b93232"]]},{"id":"5abbe98d.ebc4f8","type":"range","z":"5597ff8c.95c83","minin":"0","maxin":"100","minout":"0","maxout":"10000","action":"scale","round":true,"property":"payload","name":"*100","x":890,"y":380,"wires":[["47b5477d.5c7258"]]},{"id":"b8c76727.8010e8","type":"range","z":"5597ff8c.95c83","minin":"0","maxin":"100","minout":"0","maxout":"10000","action":"scale","round":true,"property":"payload","name":"*100","x":890,"y":500,"wires":[["8aa521b4.bfdb7"]]},{"id":"2795518c.abc70e","type":"range","z":"5597ff8c.95c83","minin":"0","maxin":"100","minout":"0","maxout":"10000","action":"scale","round":true,"property":"payload","name":"*100","x":890,"y":560,"wires":[["be05ee47.6d19c"]]},{"id":"887b122e.ca5b3","type":"range","z":"5597ff8c.95c83","minin":"0","maxin":"100","minout":"0","maxout":"10000","action":"scale","round":true,"property":"payload","name":"*100","x":890,"y":620,"wires":[["4da684f2.befc6c"]]},{"id":"2e2eaf04.53483","type":"range","z":"5597ff8c.95c83","minin":"0","maxin":"100","minout":"0","maxout":"10000","action":"scale","round":true,"property":"payload","name":"*100","x":890,"y":680,"wires":[["ade840bc.e8bf5"]]},{"id":"ed61a896.7b2b88","type":"range","z":"5597ff8c.95c83","minin":"0","maxin":"100","minout":"0","maxout":"10000","action":"scale","round":true,"property":"payload","name":"*100","x":890,"y":740,"wires":[["c777ae4e.aabc6"]]},{"id":"9a13ecb3.1f018","type":"range","z":"5597ff8c.95c83","minin":"0","maxin":"100","minout":"0","maxout":"10000","action":"scale","round":true,"property":"payload","name":"*100","x":890,"y":800,"wires":[["3149c4b8.7af4ac"]]},{"id":"1c0560d7.d2396f","type":"range","z":"5597ff8c.95c83","minin":"0","maxin":"100","minout":"0","maxout":"10000","action":"scale","round":true,"property":"payload","name":"*100","x":890,"y":860,"wires":[["834f16eb.5ebee8"]]},{"id":"d247aca8.d07fd","type":"range","z":"5597ff8c.95c83","minin":"0","maxin":"100","minout":"0","maxout":"10000","action":"scale","round":true,"property":"payload","name":"*100","x":890,"y":920,"wires":[["b25f643a.9fafe8"]]},{"id":"9693f8b2.0c13b8","type":"ui_dropdown","z":"5597ff8c.95c83","name":"","label":"Battery Type","tooltip":"Sealed, Gel and flooded have standard profiles which you can see by clicking Read Values.  To change these values, set this option to User.","place":"","group":"dfa450e2.6d547","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"User","value":"0","type":"str"},{"label":"Sealed","value":"1","type":"str"},{"label":"Gel","value":"2","type":"str"},{"label":"Flooded","value":"3","type":"str"}],"payload":"","topic":"","x":670,"y":80,"wires":[["a542ee2e.e387b"]]},{"id":"3a2bacfe.c589a4","type":"ui_numeric","z":"5597ff8c.95c83","name":"","label":"Battery Capacity","tooltip":"Battery Capacity in amp hours","group":"dfa450e2.6d547","order":3,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} Ah","min":0,"max":"1000","step":1,"x":680,"y":140,"wires":[["88c1b74e.78b9d8"]]},{"id":"e777946.907f368","type":"change","z":"5597ff8c.95c83","name":"Set flow.9000","rules":[{"t":"change","p":"payload","pt":"msg","from":"User","fromt":"str","to":"0","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"Sealed","fromt":"str","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"Gel","fromt":"str","to":"2","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"Flooded","fromt":"str","to":"3","tot":"num"},{"t":"set","p":"9000","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":80,"wires":[[]]},{"id":"21b6642c.b3a10c","type":"ui_button","z":"5597ff8c.95c83","name":"","group":"dfa450e2.6d547","order":18,"width":0,"height":0,"passthru":true,"label":"Write Values","tooltip":"As long as all the options are valid, your settings will be saved in the charge controller","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":270,"y":1100,"wires":[["9c05986b.483988","86b9ebc4.eae3b8"]]},{"id":"88c1b74e.78b9d8","type":"change","z":"5597ff8c.95c83","name":"Set flow.9001","rules":[{"t":"set","p":"9001","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"parts.index","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":140,"wires":[[]]},{"id":"9c05986b.483988","type":"function","z":"5597ff8c.95c83","name":"Build Array 0x9000 [15]","func":"var EP9000=flow.get('9000') || 0;\nvar EP9001=flow.get('9001') || 0;\nvar EP9002=flow.get('9002') || 0;\nvar EP9003=flow.get('9003') || 0;\nvar EP9004=flow.get('9004') || 0;\nvar EP9005=flow.get('9005') || 0;\nvar EP9006=flow.get('9006') || 0;\nvar EP9007=flow.get('9007') || 0;\nvar EP9008=flow.get('9008') || 0;\nvar EP9009=flow.get('9009') || 0;\nvar EP900A=flow.get('900A') || 0;\nvar EP900B=flow.get('900B') || 0;\nvar EP900C=flow.get('900C') || 0;\nvar EP900D=flow.get('900D') || 0;\nvar EP900E=flow.get('900E') || 0;\n\nvar list = [ EP9000, EP9001, EP9002, EP9003, EP9004, EP9005, EP9006, EP9007, EP9008, EP9009, EP900A, EP900B, EP900C, EP900D, EP900E];\nvar msg1 = {payload:list};\n\nreturn msg1","outputs":1,"noerr":0,"x":590,"y":1100,"wires":[["2cf8155.c9afbea"]]},{"id":"3373ac50.3b9ea4","type":"inject","z":"5597ff8c.95c83","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":1100,"wires":[["21b6642c.b3a10c"]]},{"id":"b25f643a.9fafe8","type":"change","z":"5597ff8c.95c83","name":"Set flow.900E","rules":[{"t":"set","p":"900E","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":920,"wires":[[]]},{"id":"1bfc5936.85a797","type":"inject","z":"5597ff8c.95c83","name":"Fake Read Values","topic":"","payload":"[0, 172, 300, 1600, 1450, 1500, 1400, 1390, 1380, 1320, 1260, 1220, 1200, 1150, 1060 ]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":660,"wires":[["a3530081.e0a47"]]},{"id":"e8920282.7a44b","type":"change","z":"5597ff8c.95c83","name":"Set flow.9002","rules":[{"t":"set","p":"9002","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":200,"wires":[[]]},{"id":"c8a49677.ccc3f8","type":"change","z":"5597ff8c.95c83","name":"Set flow.9003","rules":[{"t":"set","p":"9003","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":260,"wires":[[]]},{"id":"3143be23.b93232","type":"change","z":"5597ff8c.95c83","name":"Set flow.9004","rules":[{"t":"set","p":"9004","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":320,"wires":[[]]},{"id":"47b5477d.5c7258","type":"change","z":"5597ff8c.95c83","name":"Set flow.9005","rules":[{"t":"set","p":"9005","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":380,"wires":[[]]},{"id":"17350ec4.7064d1","type":"change","z":"5597ff8c.95c83","name":"Set flow.9006","rules":[{"t":"set","p":"9006","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":440,"wires":[[]]},{"id":"8aa521b4.bfdb7","type":"change","z":"5597ff8c.95c83","name":"Set flow.9007","rules":[{"t":"set","p":"9007","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":500,"wires":[[]]},{"id":"be05ee47.6d19c","type":"change","z":"5597ff8c.95c83","name":"Set flow.9008","rules":[{"t":"set","p":"9008","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":560,"wires":[[]]},{"id":"4da684f2.befc6c","type":"change","z":"5597ff8c.95c83","name":"Set flow.9009","rules":[{"t":"set","p":"9009","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":620,"wires":[[]]},{"id":"ade840bc.e8bf5","type":"change","z":"5597ff8c.95c83","name":"Set flow.900A","rules":[{"t":"set","p":"900A","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":680,"wires":[[]]},{"id":"c777ae4e.aabc6","type":"change","z":"5597ff8c.95c83","name":"Set flow.900B","rules":[{"t":"set","p":"900B","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":740,"wires":[[]]},{"id":"3149c4b8.7af4ac","type":"change","z":"5597ff8c.95c83","name":"Set flow.900C","rules":[{"t":"set","p":"900C","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":800,"wires":[[]]},{"id":"834f16eb.5ebee8","type":"change","z":"5597ff8c.95c83","name":"Set flow.900D","rules":[{"t":"set","p":"900D","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":860,"wires":[[]]},{"id":"a542ee2e.e387b","type":"change","z":"5597ff8c.95c83","name":"Battery Type","rules":[{"t":"set","p":"topic","pt":"msg","to":"9000","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"User","fromt":"str","to":"0","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"Sealed","fromt":"str","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"Gel","fromt":"str","to":"2","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"Flooded","fromt":"str","to":"3","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":80,"wires":[["e777946.907f368"]]},{"id":"60e8ee8e.6921d","type":"range","z":"5597ff8c.95c83","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":530,"y":440,"wires":[["c257d1f0.06435"]]},{"id":"c841041c.0e8bd8","type":"range","z":"5597ff8c.95c83","minin":"0","maxin":"100","minout":"0","maxout":"10000","action":"scale","round":true,"property":"payload","name":"*100","x":890,"y":440,"wires":[["17350ec4.7064d1"]]},{"id":"2cf8155.c9afbea","type":"modbus-write","z":"5597ff8c.95c83","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"MHoldingRegisters","adr":"0x9000","quantity":"15","server":"3a2d2f23.d8d58","x":800,"y":1100,"wires":[[],[]]},{"id":"28440bc6.6d9384","type":"function","z":"5597ff8c.95c83","name":"Build Array 0x906B [2]","func":"var EP906B=flow.get('906B') || 0;\nvar EP906C=flow.get('906C') || 0;\n\nvar list = [ EP906B, EP906C];\nvar msg1 = {payload:list};\n\nreturn msg1","outputs":1,"noerr":0,"x":580,"y":1160,"wires":[["23307178.5cc0ae"]]},{"id":"23307178.5cc0ae","type":"modbus-write","z":"5597ff8c.95c83","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"MHoldingRegisters","adr":"0x906B","quantity":"2","server":"3a2d2f23.d8d58","x":800,"y":1160,"wires":[[],[]]},{"id":"86b9ebc4.eae3b8","type":"delay","z":"5597ff8c.95c83","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":1160,"wires":[["28440bc6.6d9384"]]},{"id":"d99896f8.4924b8","type":"modbus-flex-getter","z":"5597ff8c.95c83","name":"Modbus Get","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"3a2d2f23.d8d58","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":130,"y":900,"wires":[["b968d282.c88c1"],["e567cf28.af878"]]},{"id":"11c8769e.c07f89","type":"function","z":"5597ff8c.95c83","name":"FC3 0x906B [2]","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 0x906B, \n    'quantity': 2\n}\nreturn msg;","outputs":1,"noerr":0,"x":120,"y":840,"wires":[["d99896f8.4924b8"]]},{"id":"e9e02243.776bf","type":"switch","z":"5597ff8c.95c83","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":310,"y":980,"wires":[["6bef3477.63ea7c"],["bab754d0.a6ff98"]]},{"id":"b968d282.c88c1","type":"split","z":"5597ff8c.95c83","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":190,"y":980,"wires":[["e9e02243.776bf"]]},{"id":"6bef3477.63ea7c","type":"ui_numeric","z":"5597ff8c.95c83","name":"","label":"Equalization Duration","tooltip":"","group":"dfa450e2.6d547","order":8,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} m","min":"60","max":"120","step":"1","x":700,"y":980,"wires":[["dead9c20.0c7ad"]]},{"id":"bab754d0.a6ff98","type":"ui_numeric","z":"5597ff8c.95c83","name":"","label":"Boost Duration","tooltip":"","group":"dfa450e2.6d547","order":9,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} m","min":"60","max":"120","step":"1","x":680,"y":1040,"wires":[["d7a5fb67.a65d28"]]},{"id":"dead9c20.0c7ad","type":"change","z":"5597ff8c.95c83","name":"Set flow.906B","rules":[{"t":"set","p":"906B","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":980,"wires":[[]]},{"id":"d7a5fb67.a65d28","type":"change","z":"5597ff8c.95c83","name":"Set flow.906C","rules":[{"t":"set","p":"906C","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":1040,"wires":[[]]},{"id":"a6887b5f.59a8a8","type":"inject","z":"5597ff8c.95c83","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":440,"wires":[["dbd5dcb1.2283c"]]},{"id":"e567cf28.af878","type":"modbus-response","z":"5597ff8c.95c83","name":"0x906B Response","registerShowMax":20,"x":230,"y":1040,"wires":[]},{"id":"d1f7ad24.5e798","type":"delay","z":"5597ff8c.95c83","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":100,"y":780,"wires":[["11c8769e.c07f89"]]},{"id":"5b59dee0.37f37","type":"join","z":"582341c6.256d8","name":"Build CSV","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":950,"y":660,"wires":[["6e823dc8.e994a4"]]},{"id":"6e823dc8.e994a4","type":"csv","z":"582341c6.256d8","name":"Tracer12A Stats","sep":",","hdrin":true,"hdrout":false,"multi":"one","ret":"\\n","temp":"time,Vsolar,Isolar,Wsolar,Vbatt,Ibatt,Wbatt,Vload,Iload,Wload,Tbatt,Tcase","skip":"0","strings":true,"x":1160,"y":720,"wires":[["c5d16be0.4f5298","85bf0084.4240b"]]},{"id":"c5d16be0.4f5298","type":"debug","z":"582341c6.256d8","name":"CSV","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1430,"y":680,"wires":[]},{"id":"63c21b91.be6e24","type":"moment","z":"582341c6.256d8","name":"","topic":"time","input":"","inputType":"date","inTz":"Europe/London","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"C","output":"payload","outputType":"msg","outTz":"Europe/London","x":810,"y":720,"wires":[["5b59dee0.37f37"]]},{"id":"b5e23228.2c405","type":"join","z":"582341c6.256d8","name":"Build Volts","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1170,"y":40,"wires":[["3b92626.419149e"]]},{"id":"71beaf4f.cc1cd","type":"debug","z":"582341c6.256d8","name":"Live Stats","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1440,"y":500,"wires":[]},{"id":"85bf0084.4240b","type":"file","z":"582341c6.256d8","d":true,"name":"stats.csv","filename":"stats.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":1440,"y":720,"wires":[[]]},{"id":"abb65cbf.c35c4","type":"join","z":"582341c6.256d8","name":"Build Current","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1170,"y":220,"wires":[["ebfd13fa.f901"]]},{"id":"751db2b6.b4d58c","type":"join","z":"582341c6.256d8","name":"Build Watts","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1170,"y":380,"wires":[["fae69853.e898e8"]]},{"id":"16609792.7fcd08","type":"join","z":"582341c6.256d8","name":"Build Temp","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1170,"y":600,"wires":[["ec69ffdf.9e733"]]},{"id":"7bcb0e31.f06a4","type":"influxdb out","z":"582341c6.256d8","d":true,"influxdb":"1cf1f0e5.2d63ff","name":"","measurement":"","precision":"s","retentionPolicy":"","x":1440,"y":540,"wires":[]},{"id":"7e745828.417a38","type":"function","z":"582341c6.256d8","name":"32bit register coversion /100","func":"var low = msg.payload[0];\nvar high = msg.payload[1];\n\nvar lowhex = low.toString(16);\nvar highhex = high.toString(16);\n\nvar total = ((high << 16) + low) / 100;\n\nmsg.payload = total;\nmsg.measurement = \"W\";\n\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":320,"wires":[["751db2b6.b4d58c","abc972a4.47509","5b59dee0.37f37"]]},{"id":"c0f2878a.dab428","type":"join","z":"582341c6.256d8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":510,"y":120,"wires":[["39bf537b.7150cc"]]},{"id":"6a1c43a9.cb6a9c","type":"join","z":"582341c6.256d8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":510,"y":320,"wires":[["25d99de5.fb25d2"]]},{"id":"eef6da88.41a0a8","type":"join","z":"582341c6.256d8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":510,"y":500,"wires":[["f76cadd6.1d6e3"]]},{"id":"39bf537b.7150cc","type":"change","z":"582341c6.256d8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Wsolar","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":120,"wires":[["7e745828.417a38"]]},{"id":"25d99de5.fb25d2","type":"change","z":"582341c6.256d8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Wbatt","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":320,"wires":[["7e745828.417a38"]]},{"id":"f76cadd6.1d6e3","type":"change","z":"582341c6.256d8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Wload","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":500,"wires":[["7e745828.417a38"]]},{"id":"4ad70b31.79cdb4","type":"modbus-flex-getter","z":"582341c6.256d8","name":"Modbus Get","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"3a2d2f23.d8d58","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":110,"y":820,"wires":[["3f12f7f9.c96438"],["b588f2bb.783a3"]]},{"id":"a2c96c3f.425eb","type":"function","z":"582341c6.256d8","name":"FC4 0x3100 [18]","func":"msg.payload = { \n    'fc': 4, \n    'unitid': 1, \n    'address': 0x3100, \n    'quantity': 18\n}\n\nmsg.topic = \"livestats\";\n\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":760,"wires":[["4ad70b31.79cdb4"]]},{"id":"b588f2bb.783a3","type":"modbus-response","z":"582341c6.256d8","name":"","registerShowMax":20,"x":510,"y":820,"wires":[]},{"id":"762cbcc3.6426d4","type":"ui_chart","z":"582341c6.256d8","name":"","group":"3d2f4e19.7d93e2","order":3,"width":0,"height":0,"label":"Battery Current","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":940,"y":220,"wires":[[]]},{"id":"35d65ded.af0e52","type":"ui_chart","z":"582341c6.256d8","name":"","group":"cf0fbbf.0686648","order":2,"width":0,"height":0,"label":"Load Current","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":930,"y":460,"wires":[[]]},{"id":"ff522779.527d18","type":"ui_chart","z":"582341c6.256d8","name":"","group":"3d2f4e19.7d93e2","order":4,"width":0,"height":0,"label":"Battery Temp","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":930,"y":560,"wires":[[]]},{"id":"ba1674e1.6abf98","type":"ui_chart","z":"582341c6.256d8","name":"","group":"3d2f4e19.7d93e2","order":2,"width":0,"height":0,"label":"Battery Voltage","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":940,"y":180,"wires":[[]]},{"id":"4f2bf615.8fe208","type":"ui_chart","z":"582341c6.256d8","name":"","group":"eed667e0.468bf8","order":2,"width":0,"height":0,"label":"Solar Voltage","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":930,"y":20,"wires":[[]]},{"id":"b51b7480.97fe78","type":"ui_chart","z":"582341c6.256d8","name":"","group":"eed667e0.468bf8","order":3,"width":0,"height":0,"label":"Solar Current","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":930,"y":60,"wires":[[]]},{"id":"abc972a4.47509","type":"switch","z":"582341c6.256d8","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Wsolar","vt":"str"},{"t":"eq","v":"Wbatt","vt":"str"},{"t":"eq","v":"Wload","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1290,"y":320,"wires":[["70b8bedd.64b6b"],["ff24ba48.ab1268"],["3cd22167.5ff1de"]]},{"id":"70b8bedd.64b6b","type":"ui_chart","z":"582341c6.256d8","name":"","group":"eed667e0.468bf8","order":1,"width":0,"height":0,"label":"Solar Watts","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1450,"y":280,"wires":[[]]},{"id":"ff24ba48.ab1268","type":"ui_chart","z":"582341c6.256d8","name":"","group":"3d2f4e19.7d93e2","order":1,"width":0,"height":0,"label":"Batt Watts","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1450,"y":320,"wires":[[]]},{"id":"3cd22167.5ff1de","type":"ui_chart","z":"582341c6.256d8","name":"","group":"cf0fbbf.0686648","order":1,"width":0,"height":0,"label":"Load Watts","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1450,"y":360,"wires":[[]]},{"id":"3f7eb1f9.d1178e","type":"link in","z":"582341c6.256d8","name":"Influx","links":["ec69ffdf.9e733","fae69853.e898e8","ebfd13fa.f901","3b92626.419149e","55a7f199.5b6ed"],"x":1335,"y":540,"wires":[["7bcb0e31.f06a4","71beaf4f.cc1cd"]]},{"id":"ec69ffdf.9e733","type":"link out","z":"582341c6.256d8","name":"","links":["3f7eb1f9.d1178e"],"x":1255,"y":640,"wires":[]},{"id":"fae69853.e898e8","type":"link out","z":"582341c6.256d8","name":"","links":["3f7eb1f9.d1178e"],"x":1255,"y":420,"wires":[]},{"id":"ebfd13fa.f901","type":"link out","z":"582341c6.256d8","name":"","links":["3f7eb1f9.d1178e"],"x":1255,"y":260,"wires":[]},{"id":"3b92626.419149e","type":"link out","z":"582341c6.256d8","name":"","links":["3f7eb1f9.d1178e"],"x":1255,"y":80,"wires":[]},{"id":"c3388057.364ad","type":"inject","z":"582341c6.256d8","name":"60s","topic":"","payload":"1","payloadType":"str","repeat":"60","crontab":"","once":true,"onceDelay":"3","x":90,"y":700,"wires":[["a2c96c3f.425eb"]]},{"id":"fe6ef27d.dffa","type":"inject","z":"582341c6.256d8","name":"6h","topic":"","payload":"1","payloadType":"str","repeat":"21600","crontab":"","once":true,"onceDelay":"30","x":90,"y":1000,"wires":[["5ee328c8.0ba5c8"]]},{"id":"5ee328c8.0ba5c8","type":"function","z":"582341c6.256d8","name":"FC4 0x3304 [16]","func":"msg.payload = { \n    'fc': 4, \n    'unitid': 2, \n    'address': 0x3304, \n    'quantity': 16\n}\n\nmsg.topic = \"historicalstats\";\n\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":940,"wires":[["4ad70b31.79cdb4"]]},{"id":"2363e508.b97bea","type":"split","z":"582341c6.256d8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":190,"y":1100,"wires":[["6169663a.71c0f8"]]},{"id":"6169663a.71c0f8","type":"switch","z":"582341c6.256d8","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"11","vt":"str"},{"t":"eq","v":"12","vt":"str"},{"t":"eq","v":"13","vt":"str"},{"t":"eq","v":"14","vt":"str"},{"t":"eq","v":"15","vt":"str"}],"checkall":"true","repair":false,"outputs":16,"x":330,"y":1100,"wires":[["3e6abcf9.81d2f4"],["3e6abcf9.81d2f4"],["2c55fae7.7fc956"],["2c55fae7.7fc956"],["dbec2393.caed1"],["dbec2393.caed1"],["fd502215.d5b0f"],["fd502215.d5b0f"],["98a4c37c.98fe7"],["98a4c37c.98fe7"],["b45ab7a3.a86d68"],["b45ab7a3.a86d68"],["7fcd22a6.e6b32c"],["7fcd22a6.e6b32c"],["b1ad44f4.c3baf8"],["b1ad44f4.c3baf8"]]},{"id":"3e6abcf9.81d2f4","type":"join","z":"582341c6.256d8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":490,"y":960,"wires":[["7b2e5c49.e443a4"]]},{"id":"2c55fae7.7fc956","type":"join","z":"582341c6.256d8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":490,"y":1000,"wires":[["93715df3.d3bbd"]]},{"id":"dbec2393.caed1","type":"join","z":"582341c6.256d8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":490,"y":1040,"wires":[["9a604898.497c88"]]},{"id":"fd502215.d5b0f","type":"join","z":"582341c6.256d8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":490,"y":1080,"wires":[["4e41928f.52c4ec"]]},{"id":"98a4c37c.98fe7","type":"join","z":"582341c6.256d8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":490,"y":1120,"wires":[["27b629e8.077dc6"]]},{"id":"b45ab7a3.a86d68","type":"join","z":"582341c6.256d8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":490,"y":1160,"wires":[["125176f8.3ba159"]]},{"id":"7fcd22a6.e6b32c","type":"join","z":"582341c6.256d8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":490,"y":1200,"wires":[["6fe54aee.5ca074"]]},{"id":"b1ad44f4.c3baf8","type":"join","z":"582341c6.256d8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":490,"y":1240,"wires":[["b52727e.5f1cbd8"]]},{"id":"ee2c8e40.aaf18","type":"function","z":"582341c6.256d8","name":"32bit register coversion /100","func":"var low = msg.payload[0];\nvar high = msg.payload[1];\n\nvar lowhex = low.toString(16);\nvar highhex = high.toString(16);\n\nvar total = ((high << 16) + low) / 100;\n\nmsg.payload = total;\nmsg.measurement = \"kWh\";\n\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":1060,"wires":[["61e62c6.4cb1bd4"]]},{"id":"7b2e5c49.e443a4","type":"change","z":"582341c6.256d8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"TodayConsumed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":960,"wires":[["ee2c8e40.aaf18"]]},{"id":"93715df3.d3bbd","type":"change","z":"582341c6.256d8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"MonthConsumed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":1000,"wires":[["ee2c8e40.aaf18"]]},{"id":"9a604898.497c88","type":"change","z":"582341c6.256d8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"YearConsumed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":1040,"wires":[["ee2c8e40.aaf18"]]},{"id":"4e41928f.52c4ec","type":"change","z":"582341c6.256d8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"TotalConsumed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":1080,"wires":[["ee2c8e40.aaf18"]]},{"id":"27b629e8.077dc6","type":"change","z":"582341c6.256d8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"TodayGenerated","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":1120,"wires":[["ee2c8e40.aaf18"]]},{"id":"125176f8.3ba159","type":"change","z":"582341c6.256d8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"MonthGenerated","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":1160,"wires":[["ee2c8e40.aaf18"]]},{"id":"b52727e.5f1cbd8","type":"change","z":"582341c6.256d8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"TotalGenerated","tot":"str"},{"t":"set","p":"measurement","pt":"msg","to":"kWh","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":1240,"wires":[["ee2c8e40.aaf18"]]},{"id":"6fe54aee.5ca074","type":"change","z":"582341c6.256d8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"YearGenerated","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":1200,"wires":[["ee2c8e40.aaf18"]]},{"id":"61e62c6.4cb1bd4","type":"join","z":"582341c6.256d8","name":"Build kWhs","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"8","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":990,"y":1120,"wires":[["c588cf59.221e4","55a7f199.5b6ed"]]},{"id":"c588cf59.221e4","type":"debug","z":"582341c6.256d8","name":"Historical Stats","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1220,"y":1120,"wires":[]},{"id":"3f12f7f9.c96438","type":"switch","z":"582341c6.256d8","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"livestats","vt":"str"},{"t":"eq","v":"historicalstats","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":800,"wires":[["bd455f62.268a6"],["2363e508.b97bea"]]},{"id":"1cd90bcd.69c344","type":"catch","z":"582341c6.256d8","name":"","scope":null,"uncaught":false,"x":1040,"y":980,"wires":[["45f7cccd.324a64"]]},{"id":"45f7cccd.324a64","type":"debug","z":"582341c6.256d8","name":"Errors","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1190,"y":980,"wires":[]},{"id":"12135c97.695ac3","type":"comment","z":"582341c6.256d8","name":"Write Stats to CSV","info":"This will write the stats to a csv file, disable this node if that doesn't interest you.","x":1470,"y":760,"wires":[]},{"id":"d6766d03.4f36e","type":"comment","z":"582341c6.256d8","name":"Write Stats to InfluxDB","info":"This will write the stats to an Influx Database, disable this node if that doesn't interest you.\n\nYou will need to install and/or configure InfluxDB","x":1480,"y":580,"wires":[]},{"id":"4f895b18.8887a4","type":"comment","z":"582341c6.256d8","name":"Configure Modbus Get","info":"A server must be configured for this process to work.  It could be a TCP server using a network or wifi to RS485 bridge or a physical comm port using a USB adpater.","x":140,"y":880,"wires":[]},{"id":"55a7f199.5b6ed","type":"link out","z":"582341c6.256d8","name":"","links":["3f7eb1f9.d1178e"],"x":1075,"y":1160,"wires":[]}]