EPEverDashboardv0.1.json
[{"id":"8e565a4c.4a06d8","type":"tab","label":"EPEver Stats","disabled":false,"info":""},{"id":"ad059bfc.a2f098","type":"tab","label":"EPEver Settings","disabled":false,"info":""},{"id":"1d649e28.05a1c2","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"tracera12","name":"tracera12","usetls":false,"tls":""},{"id":"cf10fbd3.e6ad58","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"EPEver Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1cfff75d.04d849","type":"ui_group","z":"","name":"Settings","tab":"","order":4,"disp":true,"width":6,"collapse":true},{"id":"9ae17653.416d38","type":"ui_group","z":"","name":"Solar","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"86039a55.783638","type":"ui_group","z":"","name":"Battery","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"5e07d1be.d298a","type":"ui_group","z":"","name":"Load","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"b7312c82.e12fe","type":"modbus-client","z":"","name":"TracerA12","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":true,"tcpHost":"192.168.4.25","tcpPort":"23","tcpType":"TELNET","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"","commandDelay":"100","clientTimeout":"2000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":false},{"id":"6b2d9596.2ebd5c","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"tracera12","name":"tracera12","usetls":false,"tls":""},{"id":"6d3a1d1a.0ff764","type":"ui_tab","z":"","name":"EPEver Dashboard","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"6940fb1e.3ea9f4","type":"ui_group","z":"","name":"Settings","tab":"6d3a1d1a.0ff764","order":4,"disp":true,"width":6,"collapse":true},{"id":"64dde05.682662","type":"ui_group","z":"","name":"Solar","tab":"6d3a1d1a.0ff764","order":1,"disp":true,"width":"6","collapse":false},{"id":"b42181b6.a504d","type":"ui_group","z":"","name":"Battery","tab":"6d3a1d1a.0ff764","order":2,"disp":true,"width":"6","collapse":false},{"id":"5d9575e0.95516c","type":"ui_group","z":"","name":"Load","tab":"6d3a1d1a.0ff764","order":3,"disp":true,"width":"6","collapse":false},{"id":"a4da0c8b.1c308","type":"modbus-client","z":"","name":"USB0","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"57600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"58f72763.2e5858","type":"split","z":"8e565a4c.4a06d8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":210,"y":280,"wires":[["6a1426df.82d958"]]},{"id":"6a1426df.82d958","type":"switch","z":"8e565a4c.4a06d8","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"11","vt":"str"},{"t":"eq","v":"12","vt":"str"},{"t":"eq","v":"13","vt":"str"},{"t":"eq","v":"14","vt":"str"},{"t":"eq","v":"15","vt":"str"},{"t":"eq","v":"16","vt":"str"},{"t":"eq","v":"17","vt":"str"}],"checkall":"false","repair":false,"outputs":18,"x":330,"y":280,"wires":[["59a638d7.3099c8"],["de76e7db.ab4948"],["87843d78.ef8d3"],["87843d78.ef8d3"],["c7bcf481.1113a8"],["4764eabe.168574"],["fb06dbc5.80be48"],["fb06dbc5.80be48"],["b5224e6c.3efe"],["65fd4730.113898"],["e332593f.7dd198"],["e332593f.7dd198"],[],[],[],[],["1caa0f99.ce334"],["c25cc776.550a08"]]},{"id":"59a638d7.3099c8","type":"change","z":"8e565a4c.4a06d8","name":"Vsolar","rules":[{"t":"set","p":"topic","pt":"msg","to":"Vsolar","tot":"str"},{"t":"set","p":"Vsolar","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":40,"wires":[["3ffe4bc2.d1da74"]]},{"id":"de76e7db.ab4948","type":"change","z":"8e565a4c.4a06d8","name":"Isolar","rules":[{"t":"set","p":"topic","pt":"msg","to":"Isolar","tot":"str"},{"t":"set","p":"Isolar","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":80,"wires":[["26203d70.e8ee22"]]},{"id":"c7bcf481.1113a8","type":"change","z":"8e565a4c.4a06d8","name":"Vbatt","rules":[{"t":"set","p":"topic","pt":"msg","to":"Vbatt","tot":"str"},{"t":"set","p":"Vbatt","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":240,"wires":[["a1d9beb9.54bfe"]]},{"id":"4764eabe.168574","type":"change","z":"8e565a4c.4a06d8","name":"Ibatt","rules":[{"t":"set","p":"topic","pt":"msg","to":"Ibatt","tot":"str"},{"t":"set","p":"Ibatt","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":280,"wires":[["d9bc315.b66a8d"]]},{"id":"b5224e6c.3efe","type":"change","z":"8e565a4c.4a06d8","name":"Vload","rules":[{"t":"set","p":"topic","pt":"msg","to":"Vload","tot":"str"},{"t":"set","p":"Vload","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"measurement","pt":"msg","to":"V","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":420,"wires":[["80d47957.5e5158"]]},{"id":"65fd4730.113898","type":"change","z":"8e565a4c.4a06d8","name":"Iload","rules":[{"t":"set","p":"topic","pt":"msg","to":"Iload","tot":"str"},{"t":"set","p":"Iload","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"measurement","pt":"msg","to":"I","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":460,"wires":[["2228935f.acb69c"]]},{"id":"1caa0f99.ce334","type":"change","z":"8e565a4c.4a06d8","name":"Tbatt","rules":[{"t":"set","p":"topic","pt":"msg","to":"Tbatt","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":600,"wires":[["4b738bd3.d2edc4"]]},{"id":"c25cc776.550a08","type":"change","z":"8e565a4c.4a06d8","name":"Tcase","rules":[{"t":"set","p":"topic","pt":"msg","to":"Tcase","tot":"str"},{"t":"set","p":"measurement","pt":"msg","to":"°C","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":640,"wires":[["50c0ed9.a939c14"]]},{"id":"3ffe4bc2.d1da74","type":"range","z":"8e565a4c.4a06d8","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":650,"y":40,"wires":[["ff96da8d.f5f428","1e964994.649ea6","49509795.4c2a98"]]},{"id":"a1d9beb9.54bfe","type":"range","z":"8e565a4c.4a06d8","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":650,"y":240,"wires":[["ff96da8d.f5f428","cbcc0763.f70828","49509795.4c2a98"]]},{"id":"26203d70.e8ee22","type":"range","z":"8e565a4c.4a06d8","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":650,"y":80,"wires":[["ff96da8d.f5f428","d020bb1.a35dc48","1758c76d.206779"]]},{"id":"d9bc315.b66a8d","type":"range","z":"8e565a4c.4a06d8","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":650,"y":280,"wires":[["ff96da8d.f5f428","f35bd007.f31a1","1758c76d.206779"]]},{"id":"80d47957.5e5158","type":"range","z":"8e565a4c.4a06d8","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":650,"y":420,"wires":[["ff96da8d.f5f428","49509795.4c2a98"]]},{"id":"2228935f.acb69c","type":"range","z":"8e565a4c.4a06d8","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":650,"y":460,"wires":[["ff96da8d.f5f428","66b6ef7f.41592","1758c76d.206779"]]},{"id":"4b738bd3.d2edc4","type":"range","z":"8e565a4c.4a06d8","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":650,"y":600,"wires":[["ff96da8d.f5f428","1c9bbf13.d0f941","5253ab8a.79f684"]]},{"id":"50c0ed9.a939c14","type":"range","z":"8e565a4c.4a06d8","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":650,"y":640,"wires":[["ff96da8d.f5f428","3b6e94e3.dd44bc","5253ab8a.79f684"]]},{"id":"3ed5fce2.15e7a4","type":"modbus-flex-getter","z":"ad059bfc.a2f098","name":"Modbus Get","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"b7312c82.e12fe","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":130,"y":200,"wires":[["b93b8123.56d33"],["47b46c54.72c614"]]},{"id":"50bc9ad7.7a2d74","type":"function","z":"ad059bfc.a2f098","name":"FC3 0x9000 [15]","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 0x9000, \n    'quantity': 15\n}\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":140,"wires":[["3ed5fce2.15e7a4"]]},{"id":"47b46c54.72c614","type":"modbus-response","z":"ad059bfc.a2f098","name":"0x9000 Response","registerShowMax":20,"x":350,"y":20,"wires":[]},{"id":"624a3ceb.2339b4","type":"switch","z":"ad059bfc.a2f098","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"11","vt":"str"},{"t":"eq","v":"12","vt":"str"},{"t":"eq","v":"13","vt":"str"},{"t":"eq","v":"14","vt":"str"}],"checkall":"false","repair":false,"outputs":15,"x":310,"y":280,"wires":[["54438fef.e2507"],["36997d58.3762a2"],["7157095b.b6a698"],["4af9aede.c4df5"],["ea98d014.4b279"],["a91daaeb.6379b8"],["2dd12075.1f64e"],["98ad2500.aad218"],["84beffb1.a58c5"],["47037be5.d77d74"],["951fb99f.257b58"],["b759cafb.3d65c8"],["46fc29c1.a4cee8"],["78b3f66a.d0cfb8"],["f2c3e2ed.80af5"]]},{"id":"4af9aede.c4df5","type":"range","z":"ad059bfc.a2f098","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":530,"y":260,"wires":[["59b9c155.9d75"]]},{"id":"b93b8123.56d33","type":"split","z":"ad059bfc.a2f098","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":190,"y":280,"wires":[["624a3ceb.2339b4"]]},{"id":"59b9c155.9d75","type":"ui_numeric","z":"ad059bfc.a2f098","name":"","label":"High Voltage Disconnect","tooltip":"","group":"6940fb1e.3ea9f4","order":4,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} V","min":"9","max":"17","step":"0.1","x":710,"y":260,"wires":[["b87ab902.f64ac8"]]},{"id":"ea98d014.4b279","type":"range","z":"ad059bfc.a2f098","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":530,"y":320,"wires":[["36035f0b.0e2c6"]]},{"id":"36035f0b.0e2c6","type":"ui_numeric","z":"ad059bfc.a2f098","name":"","label":"Charging Limit","tooltip":"","group":"6940fb1e.3ea9f4","order":5,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} V","min":"9","max":"17","step":"0.1","x":680,"y":320,"wires":[["30ece487.bf96ec"]]},{"id":"a91daaeb.6379b8","type":"range","z":"ad059bfc.a2f098","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":530,"y":380,"wires":[["b31dc258.53d27"]]},{"id":"b31dc258.53d27","type":"ui_numeric","z":"ad059bfc.a2f098","name":"","label":"Over Voltage Reconnect ","tooltip":"","group":"6940fb1e.3ea9f4","order":6,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} V","min":"9","max":"17","step":"0.1","x":710,"y":380,"wires":[["d992d6a2.300be8"]]},{"id":"db284982.752fe8","type":"ui_button","z":"ad059bfc.a2f098","name":"","group":"6940fb1e.3ea9f4","order":1,"width":0,"height":0,"passthru":true,"label":"Read Values","tooltip":"Click to read currently set values.","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":110,"y":500,"wires":[["50bc9ad7.7a2d74","b0cf8b86.c1e278"]]},{"id":"c3a4df57.5f1c6","type":"ui_numeric","z":"ad059bfc.a2f098","name":"","label":"Equalization","tooltip":"","group":"6940fb1e.3ea9f4","order":7,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} V","min":"9","max":"17","step":"0.1","x":670,"y":440,"wires":[["d7fccec4.78835"]]},{"id":"98ad2500.aad218","type":"range","z":"ad059bfc.a2f098","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":530,"y":500,"wires":[["c486d13f.5986c"]]},{"id":"c486d13f.5986c","type":"ui_numeric","z":"ad059bfc.a2f098","name":"","label":"Boost","tooltip":"","group":"6940fb1e.3ea9f4","order":8,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} V","min":"9","max":"17","step":"0.1","x":650,"y":500,"wires":[["2703799d.d37ae6"]]},{"id":"84beffb1.a58c5","type":"range","z":"ad059bfc.a2f098","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":530,"y":560,"wires":[["31329ee2.e3ee02"]]},{"id":"31329ee2.e3ee02","type":"ui_numeric","z":"ad059bfc.a2f098","name":"","label":"Float","tooltip":"","group":"6940fb1e.3ea9f4","order":9,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} V","min":"9","max":"17","step":"0.1","x":650,"y":560,"wires":[["de7c4d66.44c46"]]},{"id":"47037be5.d77d74","type":"range","z":"ad059bfc.a2f098","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":530,"y":620,"wires":[["1d41a2d7.c3b80d"]]},{"id":"1d41a2d7.c3b80d","type":"ui_numeric","z":"ad059bfc.a2f098","name":"","label":"Boost Reconnect","tooltip":"","group":"6940fb1e.3ea9f4","order":10,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} V","min":"9","max":"17","step":"0.1","x":690,"y":620,"wires":[["ae3e4b2d.b75008"]]},{"id":"951fb99f.257b58","type":"range","z":"ad059bfc.a2f098","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":530,"y":680,"wires":[["5f3c49af.64f188"]]},{"id":"5f3c49af.64f188","type":"ui_numeric","z":"ad059bfc.a2f098","name":"","label":"Low Voltage Reconnect","tooltip":"","group":"6940fb1e.3ea9f4","order":11,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} V","min":"9","max":"17","step":"0.1","x":710,"y":680,"wires":[["610e8023.386e4"]]},{"id":"b759cafb.3d65c8","type":"range","z":"ad059bfc.a2f098","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":530,"y":740,"wires":[["11d055f4.59751a"]]},{"id":"11d055f4.59751a","type":"ui_numeric","z":"ad059bfc.a2f098","name":"","label":"Under Voltage Recover","tooltip":"","group":"6940fb1e.3ea9f4","order":12,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} V","min":"9","max":"17","step":"0.1","x":710,"y":740,"wires":[["d35b2639.03ba38"]]},{"id":"46fc29c1.a4cee8","type":"range","z":"ad059bfc.a2f098","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":530,"y":800,"wires":[["b6b38b9.8372d78"]]},{"id":"b6b38b9.8372d78","type":"ui_numeric","z":"ad059bfc.a2f098","name":"","label":"Under Voltage Warning","tooltip":"","group":"6940fb1e.3ea9f4","order":13,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} V","min":"9","max":"17","step":"0.1","x":710,"y":800,"wires":[["b537ee0f.0eea2"]]},{"id":"78b3f66a.d0cfb8","type":"range","z":"ad059bfc.a2f098","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":530,"y":860,"wires":[["fcc9ef1e.25668"]]},{"id":"fcc9ef1e.25668","type":"ui_numeric","z":"ad059bfc.a2f098","name":"","label":"Low Voltage Disconnect","tooltip":"","group":"6940fb1e.3ea9f4","order":14,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} V","min":"9","max":"17","step":"0.1","x":710,"y":860,"wires":[["6ab4d61a.45a588"]]},{"id":"f2c3e2ed.80af5","type":"range","z":"ad059bfc.a2f098","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":530,"y":920,"wires":[["cbee258b.fc7058"]]},{"id":"cbee258b.fc7058","type":"ui_numeric","z":"ad059bfc.a2f098","name":"","label":"Discharge Limit","tooltip":"","group":"6940fb1e.3ea9f4","order":15,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} V","min":"9","max":"17","step":"0.1","x":680,"y":920,"wires":[["c96c422e.14bf8"]]},{"id":"b87ab902.f64ac8","type":"range","z":"ad059bfc.a2f098","minin":"0","maxin":"100","minout":"0","maxout":"10000","action":"scale","round":true,"property":"payload","name":"*100","x":890,"y":260,"wires":[["db356677.d183f8"]]},{"id":"30ece487.bf96ec","type":"range","z":"ad059bfc.a2f098","minin":"0","maxin":"100","minout":"0","maxout":"10000","action":"scale","round":true,"property":"payload","name":"*100","x":890,"y":320,"wires":[["839a3e54.6c6eb"]]},{"id":"d992d6a2.300be8","type":"range","z":"ad059bfc.a2f098","minin":"0","maxin":"100","minout":"0","maxout":"10000","action":"scale","round":true,"property":"payload","name":"*100","x":890,"y":380,"wires":[["91287f93.7cef"]]},{"id":"2703799d.d37ae6","type":"range","z":"ad059bfc.a2f098","minin":"0","maxin":"100","minout":"0","maxout":"10000","action":"scale","round":true,"property":"payload","name":"*100","x":890,"y":500,"wires":[["bb2e2fe2.6ff76"]]},{"id":"de7c4d66.44c46","type":"range","z":"ad059bfc.a2f098","minin":"0","maxin":"100","minout":"0","maxout":"10000","action":"scale","round":true,"property":"payload","name":"*100","x":890,"y":560,"wires":[["669d100d.db338"]]},{"id":"ae3e4b2d.b75008","type":"range","z":"ad059bfc.a2f098","minin":"0","maxin":"100","minout":"0","maxout":"10000","action":"scale","round":true,"property":"payload","name":"*100","x":890,"y":620,"wires":[["e4c00273.01e6b"]]},{"id":"610e8023.386e4","type":"range","z":"ad059bfc.a2f098","minin":"0","maxin":"100","minout":"0","maxout":"10000","action":"scale","round":true,"property":"payload","name":"*100","x":890,"y":680,"wires":[["9e7af238.b0c7b"]]},{"id":"d35b2639.03ba38","type":"range","z":"ad059bfc.a2f098","minin":"0","maxin":"100","minout":"0","maxout":"10000","action":"scale","round":true,"property":"payload","name":"*100","x":890,"y":740,"wires":[["cdd7ed6f.0c68c"]]},{"id":"b537ee0f.0eea2","type":"range","z":"ad059bfc.a2f098","minin":"0","maxin":"100","minout":"0","maxout":"10000","action":"scale","round":true,"property":"payload","name":"*100","x":890,"y":800,"wires":[["34f466cf.7dac8a"]]},{"id":"6ab4d61a.45a588","type":"range","z":"ad059bfc.a2f098","minin":"0","maxin":"100","minout":"0","maxout":"10000","action":"scale","round":true,"property":"payload","name":"*100","x":890,"y":860,"wires":[["8ff244ee.137558"]]},{"id":"c96c422e.14bf8","type":"range","z":"ad059bfc.a2f098","minin":"0","maxin":"100","minout":"0","maxout":"10000","action":"scale","round":true,"property":"payload","name":"*100","x":890,"y":920,"wires":[["4d70da3d.a0dce4"]]},{"id":"54438fef.e2507","type":"ui_dropdown","z":"ad059bfc.a2f098","name":"","label":"Battery Type","tooltip":"Sealed, Gel and flooded have standard profiles which you can see by clicking Read Values.  To change these values, set this option to User.","place":"","group":"6940fb1e.3ea9f4","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"User","value":"0","type":"str"},{"label":"Sealed","value":"1","type":"str"},{"label":"Gel","value":"2","type":"str"},{"label":"Flooded","value":"3","type":"str"}],"payload":"","topic":"","x":670,"y":80,"wires":[["9805f446.6f1188"]]},{"id":"36997d58.3762a2","type":"ui_numeric","z":"ad059bfc.a2f098","name":"","label":"Battery Capacity","tooltip":"Battery Capacity in amp hours","group":"6940fb1e.3ea9f4","order":3,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} Ah","min":0,"max":"1000","step":1,"x":680,"y":140,"wires":[["a8174ccc.efd19"]]},{"id":"4163ae48.31778","type":"change","z":"ad059bfc.a2f098","name":"Set flow.9000","rules":[{"t":"set","p":"9000","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":80,"wires":[[]]},{"id":"8f3f71f1.fbf2a","type":"ui_button","z":"ad059bfc.a2f098","name":"","group":"6940fb1e.3ea9f4","order":18,"width":0,"height":0,"passthru":true,"label":"Write Values","tooltip":"As long as all the options are valid, your settings will be saved in the charge controller","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":270,"y":1100,"wires":[["760dcaa2.d5ba74","dccdb88e.ea0a18"]]},{"id":"a8174ccc.efd19","type":"change","z":"ad059bfc.a2f098","name":"Set flow.9001","rules":[{"t":"set","p":"9001","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":140,"wires":[[]]},{"id":"760dcaa2.d5ba74","type":"function","z":"ad059bfc.a2f098","name":"Build Array 0x9000 [15]","func":"var EP9000=flow.get('9000') || 0;\nvar EP9001=flow.get('9001') || 0;\nvar EP9002=flow.get('9002') || 0;\nvar EP9003=flow.get('9003') || 0;\nvar EP9004=flow.get('9004') || 0;\nvar EP9005=flow.get('9005') || 0;\nvar EP9006=flow.get('9006') || 0;\nvar EP9007=flow.get('9007') || 0;\nvar EP9008=flow.get('9008') || 0;\nvar EP9009=flow.get('9009') || 0;\nvar EP900A=flow.get('900A') || 0;\nvar EP900B=flow.get('900B') || 0;\nvar EP900C=flow.get('900C') || 0;\nvar EP900D=flow.get('900D') || 0;\nvar EP900E=flow.get('900E') || 0;\n\nvar list = [ EP9000, EP9001, EP9002, EP9003, EP9004, EP9005, EP9006, EP9007, EP9008, EP9009, EP900A, EP900B, EP900C, EP900D, EP900E];\nvar msg1 = {payload:list};\n\nreturn msg1","outputs":1,"noerr":0,"x":590,"y":1100,"wires":[["301ab595.3e314a"]]},{"id":"250a1ff6.fce2f","type":"inject","z":"ad059bfc.a2f098","name":"2","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":1100,"wires":[["8f3f71f1.fbf2a"]]},{"id":"4d70da3d.a0dce4","type":"change","z":"ad059bfc.a2f098","name":"Set flow.900E","rules":[{"t":"set","p":"900E","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":920,"wires":[[]]},{"id":"91b443f4.0bafe","type":"inject","z":"ad059bfc.a2f098","name":"Fake Read Values","topic":"","payload":"[0, 172, 300, 1600, 1450, 1500, 1400, 1390, 1380, 1320, 1260, 1220, 1200, 1150, 1060 ]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":660,"wires":[["b93b8123.56d33"]]},{"id":"7157095b.b6a698","type":"change","z":"ad059bfc.a2f098","name":"Set flow.9002","rules":[{"t":"set","p":"9002","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":200,"wires":[[]]},{"id":"db356677.d183f8","type":"change","z":"ad059bfc.a2f098","name":"Set flow.9003","rules":[{"t":"set","p":"9003","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":260,"wires":[[]]},{"id":"839a3e54.6c6eb","type":"change","z":"ad059bfc.a2f098","name":"Set flow.9004","rules":[{"t":"set","p":"9004","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":320,"wires":[[]]},{"id":"91287f93.7cef","type":"change","z":"ad059bfc.a2f098","name":"Set flow.9005","rules":[{"t":"set","p":"9005","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":380,"wires":[[]]},{"id":"db13e793.684a68","type":"change","z":"ad059bfc.a2f098","name":"Set flow.9006","rules":[{"t":"set","p":"9006","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":440,"wires":[[]]},{"id":"bb2e2fe2.6ff76","type":"change","z":"ad059bfc.a2f098","name":"Set flow.9007","rules":[{"t":"set","p":"9007","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":500,"wires":[[]]},{"id":"669d100d.db338","type":"change","z":"ad059bfc.a2f098","name":"Set flow.9008","rules":[{"t":"set","p":"9008","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":560,"wires":[[]]},{"id":"e4c00273.01e6b","type":"change","z":"ad059bfc.a2f098","name":"Set flow.9009","rules":[{"t":"set","p":"9009","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":620,"wires":[[]]},{"id":"9e7af238.b0c7b","type":"change","z":"ad059bfc.a2f098","name":"Set flow.900A","rules":[{"t":"set","p":"900A","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":680,"wires":[[]]},{"id":"cdd7ed6f.0c68c","type":"change","z":"ad059bfc.a2f098","name":"Set flow.900B","rules":[{"t":"set","p":"900B","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":740,"wires":[[]]},{"id":"34f466cf.7dac8a","type":"change","z":"ad059bfc.a2f098","name":"Set flow.900C","rules":[{"t":"set","p":"900C","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":800,"wires":[[]]},{"id":"8ff244ee.137558","type":"change","z":"ad059bfc.a2f098","name":"Set flow.900D","rules":[{"t":"set","p":"900D","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":860,"wires":[[]]},{"id":"9805f446.6f1188","type":"change","z":"ad059bfc.a2f098","name":"Battery Type","rules":[{"t":"set","p":"topic","pt":"msg","to":"9000","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"User","fromt":"str","to":"0","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"Sealed","fromt":"str","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"Gel","fromt":"str","to":"2","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"Flooded","fromt":"str","to":"3","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":80,"wires":[["4163ae48.31778"]]},{"id":"2dd12075.1f64e","type":"range","z":"ad059bfc.a2f098","minin":"0","maxin":"10000","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"/100","x":530,"y":440,"wires":[["c3a4df57.5f1c6"]]},{"id":"d7fccec4.78835","type":"range","z":"ad059bfc.a2f098","minin":"0","maxin":"100","minout":"0","maxout":"10000","action":"scale","round":true,"property":"payload","name":"*100","x":890,"y":440,"wires":[["db13e793.684a68"]]},{"id":"301ab595.3e314a","type":"modbus-write","z":"ad059bfc.a2f098","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"MHoldingRegisters","adr":"0x9000","quantity":"15","server":"b7312c82.e12fe","x":800,"y":1100,"wires":[[],[]]},{"id":"68e53c3.ca287c4","type":"function","z":"ad059bfc.a2f098","name":"Build Array 0x906B [2]","func":"var EP906B=flow.get('906B') || 0;\nvar EP906C=flow.get('906C') || 0;\n\nvar list = [ EP906B, EP906C];\nvar msg1 = {payload:list};\n\nreturn msg1","outputs":1,"noerr":0,"x":580,"y":1160,"wires":[["9d20cd57.cb3fc"]]},{"id":"9d20cd57.cb3fc","type":"modbus-write","z":"ad059bfc.a2f098","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"MHoldingRegisters","adr":"0x906B","quantity":"2","server":"b7312c82.e12fe","x":800,"y":1160,"wires":[[],[]]},{"id":"dccdb88e.ea0a18","type":"delay","z":"ad059bfc.a2f098","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":1160,"wires":[["68e53c3.ca287c4"]]},{"id":"935a3fa5.db7b3","type":"modbus-flex-getter","z":"ad059bfc.a2f098","name":"Modbus Get","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"b7312c82.e12fe","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":130,"y":900,"wires":[["b892baac.076cb8"],["9a3c818.0d3a78"]]},{"id":"e948d74d.d5a638","type":"function","z":"ad059bfc.a2f098","name":"FC3 0x906B [2]","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 0x906B, \n    'quantity': 2\n}\nreturn msg;","outputs":1,"noerr":0,"x":120,"y":840,"wires":[["935a3fa5.db7b3"]]},{"id":"405e4fd.2a5c5b","type":"switch","z":"ad059bfc.a2f098","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":310,"y":980,"wires":[["4b61571.3d746a8"],["659febb4.109504"]]},{"id":"b892baac.076cb8","type":"split","z":"ad059bfc.a2f098","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":190,"y":980,"wires":[["405e4fd.2a5c5b"]]},{"id":"4b61571.3d746a8","type":"ui_numeric","z":"ad059bfc.a2f098","name":"","label":"Equalization Duration","tooltip":"","group":"6940fb1e.3ea9f4","order":16,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} m","min":"60","max":"120","step":"1","x":700,"y":980,"wires":[["b7086fac.8c3b5"]]},{"id":"659febb4.109504","type":"ui_numeric","z":"ad059bfc.a2f098","name":"","label":"Boost Duration","tooltip":"","group":"6940fb1e.3ea9f4","order":17,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} m","min":"60","max":"120","step":"1","x":680,"y":1040,"wires":[["787d8556.5c52cc"]]},{"id":"b7086fac.8c3b5","type":"change","z":"ad059bfc.a2f098","name":"Set flow.906B","rules":[{"t":"set","p":"906B","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":980,"wires":[[]]},{"id":"787d8556.5c52cc","type":"change","z":"ad059bfc.a2f098","name":"Set flow.906C","rules":[{"t":"set","p":"906C","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":1040,"wires":[[]]},{"id":"7a55236a.c7073c","type":"inject","z":"ad059bfc.a2f098","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":440,"wires":[["db284982.752fe8"]]},{"id":"9a3c818.0d3a78","type":"modbus-response","z":"ad059bfc.a2f098","name":"0x906B Response","registerShowMax":20,"x":230,"y":1040,"wires":[]},{"id":"b0cf8b86.c1e278","type":"delay","z":"ad059bfc.a2f098","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":100,"y":780,"wires":[["e948d74d.d5a638"]]},{"id":"ff96da8d.f5f428","type":"join","z":"8e565a4c.4a06d8","name":"Build CSV","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":950,"y":660,"wires":[["f296177b.ac2da8"]]},{"id":"f296177b.ac2da8","type":"csv","z":"8e565a4c.4a06d8","name":"Tracer12A Stats","sep":",","hdrin":true,"hdrout":false,"multi":"one","ret":"\\n","temp":"time,Vsolar,Isolar,Wsolar,Vbatt,Ibatt,Wbatt,Vload,Iload,Wload,Tbatt,Tcase","skip":"0","strings":true,"x":1160,"y":720,"wires":[["b874ff6b.2ff34","d61325d0.51eb78"]]},{"id":"b874ff6b.2ff34","type":"debug","z":"8e565a4c.4a06d8","name":"CSV","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1430,"y":680,"wires":[]},{"id":"3b6e94e3.dd44bc","type":"moment","z":"8e565a4c.4a06d8","name":"","topic":"time","input":"","inputType":"date","inTz":"Europe/London","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"C","output":"payload","outputType":"msg","outTz":"Europe/London","x":810,"y":720,"wires":[["ff96da8d.f5f428"]]},{"id":"49509795.4c2a98","type":"join","z":"8e565a4c.4a06d8","name":"Build Volts","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1170,"y":40,"wires":[["e4fc3737.b3c4f8"]]},{"id":"7750520b.65808c","type":"debug","z":"8e565a4c.4a06d8","name":"InfluxDB","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1440,"y":500,"wires":[]},{"id":"d61325d0.51eb78","type":"file","z":"8e565a4c.4a06d8","name":"stats.csv","filename":"stats.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":1440,"y":720,"wires":[[]]},{"id":"1758c76d.206779","type":"join","z":"8e565a4c.4a06d8","name":"Build Current","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1170,"y":220,"wires":[["3c2de8c3.846888"]]},{"id":"81ed0281.cb143","type":"join","z":"8e565a4c.4a06d8","name":"Build Watts","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1170,"y":380,"wires":[["431d80fc.07dca"]]},{"id":"5253ab8a.79f684","type":"join","z":"8e565a4c.4a06d8","name":"Build Temp","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1170,"y":600,"wires":[["1e500db0.eba2b2"]]},{"id":"a580a0ec.d73fb","type":"influxdb out","z":"8e565a4c.4a06d8","influxdb":"6b2d9596.2ebd5c","name":"","measurement":"","precision":"s","retentionPolicy":"","x":1440,"y":540,"wires":[]},{"id":"9e3f08d4.3ab1d8","type":"function","z":"8e565a4c.4a06d8","name":"32bit register coversion /100","func":"var low = msg.payload[0];\nvar high = msg.payload[1];\n\nvar lowhex = low.toString(16);\nvar highhex = high.toString(16);\n\nvar total = ((high << 16) + low) / 100;\n\nmsg.payload = total;\nmsg.measurement = \"W\";\n\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":320,"wires":[["81ed0281.cb143","df8f8598.580d58","ff96da8d.f5f428"]]},{"id":"87843d78.ef8d3","type":"join","z":"8e565a4c.4a06d8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":510,"y":120,"wires":[["421950b5.19a38"]]},{"id":"fb06dbc5.80be48","type":"join","z":"8e565a4c.4a06d8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":510,"y":320,"wires":[["27ee2f0e.62fdd"]]},{"id":"e332593f.7dd198","type":"join","z":"8e565a4c.4a06d8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":510,"y":500,"wires":[["76ce3226.fc309c"]]},{"id":"421950b5.19a38","type":"change","z":"8e565a4c.4a06d8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Wsolar","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":120,"wires":[["9e3f08d4.3ab1d8"]]},{"id":"27ee2f0e.62fdd","type":"change","z":"8e565a4c.4a06d8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Wbatt","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":320,"wires":[["9e3f08d4.3ab1d8"]]},{"id":"76ce3226.fc309c","type":"change","z":"8e565a4c.4a06d8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Wload","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":500,"wires":[["9e3f08d4.3ab1d8"]]},{"id":"2c18fdaf.8153d2","type":"modbus-flex-getter","z":"8e565a4c.4a06d8","name":"Modbus Get","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"b7312c82.e12fe","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":110,"y":720,"wires":[["21da2f4a.d2294"],["2ab95bba.356f04"]]},{"id":"da11c911.18def8","type":"function","z":"8e565a4c.4a06d8","name":"FC4 0x3100 [18]","func":"msg.payload = { \n    'fc': 4, \n    'unitid': 1, \n    'address': 0x3100, \n    'quantity': 18\n}\n\nmsg.topic = \"livestats\";\n\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":620,"wires":[["2c18fdaf.8153d2"]]},{"id":"2ab95bba.356f04","type":"modbus-response","z":"8e565a4c.4a06d8","name":"","registerShowMax":20,"x":510,"y":780,"wires":[]},{"id":"f35bd007.f31a1","type":"ui_chart","z":"8e565a4c.4a06d8","name":"","group":"b42181b6.a504d","order":3,"width":0,"height":0,"label":"Battery Current","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":940,"y":220,"wires":[[]]},{"id":"66b6ef7f.41592","type":"ui_chart","z":"8e565a4c.4a06d8","name":"","group":"5d9575e0.95516c","order":2,"width":0,"height":0,"label":"Load Current","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":930,"y":460,"wires":[[]]},{"id":"1c9bbf13.d0f941","type":"ui_chart","z":"8e565a4c.4a06d8","name":"","group":"b42181b6.a504d","order":4,"width":0,"height":0,"label":"Battery Temp","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":930,"y":560,"wires":[[]]},{"id":"cbcc0763.f70828","type":"ui_chart","z":"8e565a4c.4a06d8","name":"","group":"b42181b6.a504d","order":2,"width":0,"height":0,"label":"Battery Voltage","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":940,"y":180,"wires":[[]]},{"id":"1e964994.649ea6","type":"ui_chart","z":"8e565a4c.4a06d8","name":"","group":"64dde05.682662","order":2,"width":0,"height":0,"label":"Solar Voltage","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":930,"y":20,"wires":[[]]},{"id":"d020bb1.a35dc48","type":"ui_chart","z":"8e565a4c.4a06d8","name":"","group":"64dde05.682662","order":3,"width":0,"height":0,"label":"Solar Current","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":930,"y":60,"wires":[[]]},{"id":"df8f8598.580d58","type":"switch","z":"8e565a4c.4a06d8","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Wsolar","vt":"str"},{"t":"eq","v":"Wbatt","vt":"str"},{"t":"eq","v":"Wload","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1290,"y":320,"wires":[["d9276017.7be73"],["4427b885.da9518"],["e6bc78f7.932168"]]},{"id":"d9276017.7be73","type":"ui_chart","z":"8e565a4c.4a06d8","name":"","group":"64dde05.682662","order":1,"width":0,"height":0,"label":"Solar Power","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1450,"y":280,"wires":[[]]},{"id":"4427b885.da9518","type":"ui_chart","z":"8e565a4c.4a06d8","name":"","group":"b42181b6.a504d","order":1,"width":0,"height":0,"label":"Batt Power","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1450,"y":320,"wires":[[]]},{"id":"e6bc78f7.932168","type":"ui_chart","z":"8e565a4c.4a06d8","name":"","group":"5d9575e0.95516c","order":1,"width":0,"height":0,"label":"Load Power","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1450,"y":360,"wires":[[]]},{"id":"20e8ef05.c6131","type":"link in","z":"8e565a4c.4a06d8","name":"Influx","links":["1e500db0.eba2b2","431d80fc.07dca","3c2de8c3.846888","e4fc3737.b3c4f8","e502b3ec.9caeb"],"x":1335,"y":540,"wires":[["a580a0ec.d73fb","7750520b.65808c"]]},{"id":"1e500db0.eba2b2","type":"link out","z":"8e565a4c.4a06d8","name":"","links":["20e8ef05.c6131"],"x":1255,"y":640,"wires":[]},{"id":"431d80fc.07dca","type":"link out","z":"8e565a4c.4a06d8","name":"","links":["20e8ef05.c6131"],"x":1255,"y":420,"wires":[]},{"id":"3c2de8c3.846888","type":"link out","z":"8e565a4c.4a06d8","name":"","links":["20e8ef05.c6131"],"x":1255,"y":260,"wires":[]},{"id":"e4fc3737.b3c4f8","type":"link out","z":"8e565a4c.4a06d8","name":"","links":["20e8ef05.c6131"],"x":1255,"y":80,"wires":[]},{"id":"3d75f7cc.0b12d8","type":"inject","z":"8e565a4c.4a06d8","name":"60s","topic":"","payload":"1","payloadType":"str","repeat":"60","crontab":"","once":true,"onceDelay":"3","x":90,"y":560,"wires":[["da11c911.18def8"]]},{"id":"2e977bef.0f1834","type":"inject","z":"8e565a4c.4a06d8","name":"6h","topic":"historicalstats","payload":"1","payloadType":"str","repeat":"21600","crontab":"","once":true,"onceDelay":"30","x":90,"y":900,"wires":[["6bc2cef0.d4d38"]]},{"id":"6bc2cef0.d4d38","type":"function","z":"8e565a4c.4a06d8","name":"FC4 0x3304 [16]","func":"msg.payload = { \n    'fc': 4, \n    'unitid': 1, \n    'address': 0x3304, \n    'quantity': 16\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":840,"wires":[["2c18fdaf.8153d2"]]},{"id":"cee33917.9e7a38","type":"split","z":"8e565a4c.4a06d8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":190,"y":1000,"wires":[["d5fcb6e1.e42a88"]]},{"id":"d5fcb6e1.e42a88","type":"switch","z":"8e565a4c.4a06d8","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"11","vt":"str"},{"t":"eq","v":"12","vt":"str"},{"t":"eq","v":"13","vt":"str"},{"t":"eq","v":"14","vt":"str"},{"t":"eq","v":"15","vt":"str"}],"checkall":"true","repair":false,"outputs":16,"x":330,"y":1000,"wires":[["5075fa97.847bb4"],["5075fa97.847bb4"],["3e217378.12da2c"],["3e217378.12da2c"],["346264b5.39527c"],["346264b5.39527c"],["130ac233.8096ee"],["130ac233.8096ee"],["535aa45.b50935c"],["535aa45.b50935c"],["cb47c3bb.25f9e"],["cb47c3bb.25f9e"],["ecd17445.5a23e8"],["ecd17445.5a23e8"],["af685312.4e85e"],["af685312.4e85e"]]},{"id":"5075fa97.847bb4","type":"join","z":"8e565a4c.4a06d8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":510,"y":860,"wires":[["4f220cd1.0ca9d4"]]},{"id":"3e217378.12da2c","type":"join","z":"8e565a4c.4a06d8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":510,"y":900,"wires":[["cb5ff018.690de"]]},{"id":"346264b5.39527c","type":"join","z":"8e565a4c.4a06d8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":510,"y":940,"wires":[["e5ade2c3.bb0a2"]]},{"id":"130ac233.8096ee","type":"join","z":"8e565a4c.4a06d8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":510,"y":980,"wires":[["c405f5d6.2bda98"]]},{"id":"535aa45.b50935c","type":"join","z":"8e565a4c.4a06d8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":510,"y":1020,"wires":[["c80129d3.8a5b18"]]},{"id":"cb47c3bb.25f9e","type":"join","z":"8e565a4c.4a06d8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":510,"y":1060,"wires":[["6742acd7.25ab14"]]},{"id":"ecd17445.5a23e8","type":"join","z":"8e565a4c.4a06d8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":510,"y":1100,"wires":[["37804362.6f392c"]]},{"id":"af685312.4e85e","type":"join","z":"8e565a4c.4a06d8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":510,"y":1140,"wires":[["e011f09e.c4325"]]},{"id":"8867a998.34f6b8","type":"function","z":"8e565a4c.4a06d8","name":"32bit register coversion /100","func":"var low = msg.payload[0];\nvar high = msg.payload[1];\n\nvar lowhex = low.toString(16);\nvar highhex = high.toString(16);\n\nvar total = ((high << 16) + low) / 100;\n\nmsg.payload = total;\nmsg.measurement = \"kWh\";\n\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":1000,"wires":[["f0f1a04e.cfff4"]]},{"id":"4f220cd1.0ca9d4","type":"change","z":"8e565a4c.4a06d8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"TodayConsumed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":860,"wires":[["8867a998.34f6b8"]]},{"id":"cb5ff018.690de","type":"change","z":"8e565a4c.4a06d8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"MonthConsumed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":900,"wires":[["8867a998.34f6b8"]]},{"id":"e5ade2c3.bb0a2","type":"change","z":"8e565a4c.4a06d8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"YearConsumed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":940,"wires":[["8867a998.34f6b8"]]},{"id":"c405f5d6.2bda98","type":"change","z":"8e565a4c.4a06d8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"TotalConsumed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":980,"wires":[["8867a998.34f6b8"]]},{"id":"c80129d3.8a5b18","type":"change","z":"8e565a4c.4a06d8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"TodayGenerated","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":1020,"wires":[["8867a998.34f6b8"]]},{"id":"6742acd7.25ab14","type":"change","z":"8e565a4c.4a06d8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"MonthGenerated","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":1060,"wires":[["8867a998.34f6b8"]]},{"id":"e011f09e.c4325","type":"change","z":"8e565a4c.4a06d8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"TotalGenerated","tot":"str"},{"t":"set","p":"measurement","pt":"msg","to":"kWh","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":1140,"wires":[["8867a998.34f6b8"]]},{"id":"37804362.6f392c","type":"change","z":"8e565a4c.4a06d8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"YearGenerated","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":1100,"wires":[["8867a998.34f6b8"]]},{"id":"f0f1a04e.cfff4","type":"join","z":"8e565a4c.4a06d8","name":"Build kWhs","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"8","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1190,"y":1040,"wires":[["e502b3ec.9caeb"]]},{"id":"21da2f4a.d2294","type":"switch","z":"8e565a4c.4a06d8","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"livestats","vt":"str"},{"t":"eq","v":"historicalstats","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":700,"wires":[["58f72763.2e5858"],["cee33917.9e7a38"]]},{"id":"8143014e.04134","type":"catch","z":"8e565a4c.4a06d8","name":"","scope":null,"uncaught":false,"x":1040,"y":860,"wires":[["dd83aefa.581d7"]]},{"id":"dd83aefa.581d7","type":"debug","z":"8e565a4c.4a06d8","name":"Errors","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1190,"y":860,"wires":[]},{"id":"8bdb37ae.ab9158","type":"comment","z":"8e565a4c.4a06d8","name":"Write Stats to CSV","info":"This will write the stats to a csv file, disable this node if that doesn't interest you.","x":1470,"y":760,"wires":[]},{"id":"3a4ea4d8.f1de5c","type":"comment","z":"8e565a4c.4a06d8","name":"Write Stats to InfluxDB","info":"This will write the stats to an Influx Database. Disable this node if that doesn't interest you.\n\nYou will need to install and/or configure InfluxDB on this machine or another one.","x":1480,"y":580,"wires":[]},{"id":"e94d37e.f39cbc8","type":"comment","z":"8e565a4c.4a06d8","name":"Configure Modbus Get","info":"A server must be configured for this process to work.  It could be a TCP server using a network or wifi to RS485 bridge or a physical com port using a USB adpater.","x":140,"y":780,"wires":[]},{"id":"e502b3ec.9caeb","type":"link out","z":"8e565a4c.4a06d8","name":"","links":["20e8ef05.c6131"],"x":1275,"y":1080,"wires":[]},{"id":"a8907947.f7cd18","type":"comment","z":"8e565a4c.4a06d8","name":"Modbus Registers","info":"Using the function node above you can set the registers you wish to poll from the charge controller.  You set the register number and the number of addresses.\n\nYou can get a full list of all the modbus registers you can poll here: http://www.solar-elektro.cz/data/dokumenty/1733_modbus_protocol.pdf","x":130,"y":660,"wires":[]},{"id":"d3350856.3766b8","type":"inject","z":"8e565a4c.4a06d8","name":"Fake stats for testing ","topic":"livestats","payload":"[ 1357, 3, 50, 0, 1275, 5, 63, 0, 1275, 5, 63, 0, 756, 1470 ]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":500,"wires":[["21da2f4a.d2294"]]}]
